@mixin grid-centre {
	display: grid;
	place-items: center center;
}

main {
	color: #FFD200;
	@include grid-centre;
	font-family: 'Montserrat', sans-serif;
	width: 100vw;
	margin-top: 10vh;
	padding: 2vw 15vw 2vw 15vw;
	box-sizing: border-box;

	.userInfo {
		@include grid-centre;
		grid-template-columns: 200px 1fr;
		height: 300px;
	}

	.userLogo {
		@include grid-centre;
	}

	.userGallery {
		@include grid-centre;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5vw;
		width: 70vw;
		margin-bottom: 30vh;

		img {
			width: 20vw;
			height: 20vw;
			object-fit: cover;
			object-position: 50% top;
		}
	}

	.userNameContainer {
		display: grid;
		place-items: left center;
		padding-left: 2vw;
	}

	div input {
		.titleInput, .url {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3vh;
			border-radius: 20%;
			border-color: #3E0470;
			border-width: 5px;
			color: #FFD200;
		}
	}

	form {
		@include grid-centre;
	}

}

/*.box {
		background-image:url('../images/1.jpg');
		background-position:center center;
		background-size:cover;
		width:20vw;
		height:20vw;
	 }*/